<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GoogleMapTask.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>109359671EA62E52006F56A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1093597E1EA62E53006F56A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>109359891EA62E53006F56A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
